.question-tile {
  display: grid;
  grid-template-columns: 2fr 8fr;
  border: 5px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 255, 251, 1),0 0 10px rgba(0, 255, 251, 1) inset,0 0 20px rgba(0, 255, 251, 1),0 0 20px rgba(0, 255, 251, 1) inset,0 0 30px rgba(0, 255, 251, 1),0 0 30px rgba(0, 255, 251, 1) inset;    
  margin: 20px;
  font-family: "Clip";
  font-size: 18px;
}

.question-summary {
  color: white;
}

.question-tags {
  color: white;
}

.votes {
  color: white;
}

.answers {
  color: white;
}

.views {
  color: white;
}

.question-heading {
  color: white;
}

.sub-title {
  color: white;
  text-decoration: none;
} 

.all-questions-title {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 2.5em;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #feaee3,
    0 0 20px #feaee3,
    0 0 40px #f550c6,
    0 0 80px #f550c6,
    0 0 90px #f550c6,
    0 0 100px #f550c6,
    0 0 150px #f550c6;
}

.question-stats {
  margin-left: 20px;
}

.question-block {
  margin-left: 40px;
}