
.all-tags-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0;
}

.all-tags {
  margin-top: 60px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(autofill, minmax(100px, 1fr));
  width: 50%;
  gap: 1rem;
}

.tag-title {
  color: white;
  font-size: 35px;
  font-family: "Clip";
  justify-self: center;
}

.tag-line {
  border: 2px solid rgba(0, 255, 255, 1);
  box-shadow:
    0 0 12px rgba(0, 255, 251, 1),
    0 0 10px rgba(0, 255, 251, 1) inset,
    0 0 20px rgba(0, 255, 251, 1),
    0 0 20px rgba(0, 255, 251, 1) inset,
    0 0 30px rgba(0, 255, 251, 1),
    0 0 30px rgba(0, 255, 251, 1) inset;
}
