[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
werkzeug = "==2.3"
alembic = "*"
flask-migrate = "*"
flask-wtf = "*"
wtforms = "*"
flask-login = "*"
psycopg2-binary = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"

[scripts]
d = "rm instance/dev.db"
m = "pipenv run flask db migrate"
u = "pipenv run flask db upgrade"
s = "pipenv run flask seed"
start = "pipenv run flask run"
i = "sh -c 'pipenv run u && flask seed && flask run'"
dus = "pipenv run d && pipenv run u && pipenv run s"
db = "sh -c 'pipenv run d && pipenv run u && flask seed && flask run'"

