[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
werkzeug = "==2.3"
alembic = "*"
flask-migrate = "*"
flask-wtf = "*"
wtforms = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
