

.about-us-div {
    background-color: black;
    font-family: 'Clip';
    color: white;
    margin: 100px;
}

.mission-title {
    color: white;
    font-family: 'Clip';
    font-size: 35px;
}

.mission-statement {
    color: white;
    font-family: 'Clip';
    font-size: 20px;
}

.about-us-title {
    font-family: 'Clip';
    color: white;
    font-size: 55px;
    justify-self: center;
}