

.about-us-div {
    background-color: black;
    font-family: 'Clip';
    color: white;
    margin: 100px;
}

.mission-title {
    color: white;
    font-family: 'Clip';
    font-size: 35px;
}

.our-goals-title {
    color: white;
    font-family: 'Clip';
    font-size: 35px;
}

.mission-statement {
    color: white;
    font-family: 'Clip';
    font-size: 20px;
}

.our-goals-statement {
    color: white;
    font-family: 'Clip';
    font-size: 20px;
}

.about-us-title {
    font-family: 'Clip';
    color: white;
    font-size: 45px;
    justify-self: center;
}

.about-line {
    border: 2px solid rgba(0, 255, 255, 1);
  box-shadow: 0 0 12px rgba(0, 255, 251, 1),0 0 10px rgba(0, 255, 251, 1) inset,0 0 20px rgba(0, 255, 251, 1),0 0 20px rgba(0, 255, 251, 1) inset,0 0 30px rgba(0, 255, 251, 1),0 0 30px rgba(0, 255, 251, 1) inset;
}