/* NavLink active links */
.sidebar a {
  padding-top: 25px;
  padding-left: 20px;
  background-color: rgb(19, 16, 16);
}
.sidebar .active {
  border-radius: 5px;
  background-color: rgb(19, 16, 16);
}

.sidebar {
  background-color: rgb(19, 16, 16);
  margin-right: 30px;
} 

.home {
  text-decoration: none;
  color: white;
  font-family: "Clip";
  margin-right: 20px;
  font-size: 20px;
}

.questions {
  text-decoration: none;
  color: white;
  font-family: "Clip";
  margin-right: 20px;
  font-size: 20px;
}

.tagged {
  text-decoration: none;
  color: white;
  font-family: "Clip";
  margin-right: 20px;
  font-size: 20px;
}

.saves {
  text-decoration: none;
  color: white;
  font-family: "Clip";
  margin-right: 20px;
  font-size: 20px;
}
