

body {
    background-color: black;
}

.title {
    padding-left: 15px;
    font-family: "Clip";
    padding-bottom: 15px;
    color: white;
    font-size: 50px;
}

.container {
    display: flex;
    flex-direction: row;
}

.homepage {
    margin-right: 20px;
    padding-right: 20px;
}

.description {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
    font-size: 24px;
    padding-top: 15px;
    font-family: "Clip";
    color: white;
}

.image img {
    width: 600px;
    height: 400px;
    border-radius: 14px;
    box-shadow: 4px 2px 10px grey;
}


