.post {
  width: 90%;
  margin-left: 45px;
  font-family: "Clip";
  text-transform: uppercase;
}

.new-question-title {
  color: white;
}
.post-title-input,
.post-body-textarea {
  color: white;
  margin-top: 5px;
  margin-bottom: 25px;
  box-sizing: border-box;
  /* font-size: 1rem; */
  width: 100%;
  text-wrap: nowrap;
  padding: 10px;
  resize: vertical;
  background-color: black;
  box-shadow:
    0 0 10px 5px #feaee3,
    0 0 20px 7px #f087d3;
}

.post-body-textarea {
  color: white;
}

.post-title-input {
  color: white;
}

.post-body pre {
  padding: 10px 5px;
  border-radius: 5px;

  background-color: rgb(99, 98, 98);
  box-shadow: 0 0 10px 5px #feaee3,
              0 0 20px 7px #f087d3;
}

pre {
  margin-right: 10px;
  width: auto;
}

p {
  color: white;

}

.post-meta {
  margin-bottom: 30px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.post-body code {
  background-color: #eeeeee;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.post-body {
  height: auto;
}

.title-required {
  color: white;
  margin-bottom: 20px;
}

.question-required {
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}
.tags {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 2fr;
  /* box-sizing: border-box; */
  background-color: #1b2432;
  border: 5px dashed #2c2b3c;
  border-radius: 25px;
  padding: 15px;
  color: white;
  text-transform: none;
  scrollbar-color: white transparent;
}
.tag-list {
  /* background-color: white; */
  height: 100px;
  overflow: auto;
  /* position: absolute;
  /* z-index: 1; */
  padding-left: 10px;
  padding-right: 25px;
  /* width: 100%; */
}
.selected-tags,
.tag-selector {
  /* background-color: white; */
}
.selected-tags {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  align-content: start;
  gap: 5px;
}
.one-selected-tag {
  display: inline-block;
  background-color: #403f4c;
  border-radius: 5px;
  color: #b76d68;
  padding: 5px;
  text-transform: none;
}
.one-selected-tag:hover {
  cursor: pointer;
  opacity: 0.75;
}
.tag-selector input {
  background-color: transparent;
  box-shadow: none;
  border: 2px dashed #2c2b3c;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 0.9em;
  width: 100%;
  box-sizing: border-box;
}
.tag-selector input:focus {
  border-color: white;
  outline: none;
}
.tag-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: none;
}
.tag-list li {
  padding: 5px;
  border-radius: 5px;
}
.tag-list li:hover {
  background-color: #403f4c;
  cursor: pointer;
}
.buttons-div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.submit-question {
  margin-right: 15px;
  font-family: "Clip";
  border-radius: 8px;
  display: flex;
  justify-self: center;
  font-size: 20px;
}

.submit-question {
  font-family: "Clip";
  margin-top: 15px;
  background-color: black;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: hsl(317 100% 54%);
  border: hsl(317 100% 54%) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;

  box-shadow:
    inset 0 0 0.5em 0 hsl(317 100% 54%),
    0 0 0.5em 0 hsl(317 100% 54%);

  position: relative;
}

.submit-question::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: hsl(317 100% 54%);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.submit-question::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
  opacity: 0;
  background-color: hsl(317 100% 54%);
  z-index: -1;
  transition: opacity 100ms linear;
}

.submit-question:hover,
.submit-question:focus {
  color: white;
  text-shadow: none;
}

.submit-question:hover::before,
.submit-question:focus::before {
  opacity: 1;
}
.submit-question:hover::after,
.submit-question:focus::after {
  opacity: 1;
}

.cancel-question {
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Clip";
  border-radius: 8px;
  display: flex;
  justify-self: center;
  font-size: 20px;
}

.cancel-question {
  font-family: "Clip";
  margin-top: 15px;
  background-color: black;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: hsl(317 100% 54%);
  border: hsl(317 100% 54%) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;

  box-shadow:
    inset 0 0 0.5em 0 hsl(317 100% 54%),
    0 0 0.5em 0 hsl(317 100% 54%);

  position: relative;
}

.cancel-question::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: hsl(317 100% 54%);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.cancel-question::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
  opacity: 0;
  background-color: hsl(317 100% 54%);
  z-index: -1;
  transition: opacity 100ms linear;
}

.cancel-question:hover,
.cancel-question:focus {
  color: white;
  text-shadow: none;
}

.cancel-question:hover::before,
.cancel-question:focus::before {
  opacity: 1;
}
.cancel-question:hover::after,
.cancel-question:focus::after {
  opacity: 1;
}

.up-vote {
  color: white;
}

.vote-counter {
  color: white;
}

.down-vote {
  color: white;
}

.save {
  color: white;
}

.share {
  color: white;
}

.edit {
  color: white;
}

.posted-by-user {
  color: white;
}

.comments-here {
  color: white;
}

.post-body {
  color: white;
  margin-top: 5px;
  margin-bottom: 25px;
  box-sizing: border-box;
  /* font-size: 1rem; */
  width: 100%;
  padding: 10px;
  background-color: black;
  /* box-shadow: 0 0 5px 3px #feaee3,
              0 0 10px 4px #f087d3; */
}

.post-user {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}


.edit {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Clip";
  border-radius: 8px;
  display: flex;
  justify-self: center;
}

.edit {
  font-family: "Clip";
  text-transform: uppercase;
  margin-top: 15px;
  background-color: black;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: hsl(317 100% 54%);
  border: hsl(317 100% 54%) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;

  box-shadow:
    inset 0 0 0.5em 0 hsl(317 100% 54%),
    0 0 0.5em 0 hsl(317 100% 54%);

  position: relative;
}

.edit::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: hsl(317 100% 54%);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
edit::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
  opacity: 0;
  background-color: hsl(317 100% 54%);
  z-index: -1;
  transition: opacity 100ms linear;
}

.edit:hover,
.edit:focus {
  color: white;
  text-shadow: none;
}

.edit:hover::before,
.edit:focus::before {
  opacity: 1;
}
.edit:hover::after,
.edit:focus::after {
  opacity: 1;
}

*::before,
*::after {
  box-sizing: border-box;
}

.share {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 255, 251, 0.67);
  border: rgba(0, 255, 251, 0.67) 0.125em solid;
  padding-top: 4.2px;
  padding-bottom: 4.2px;
  border-radius: 0.25em;
  padding-left: 12px;
  padding-right: 12px;

  text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;

  box-shadow:
    inset 0 0 0.5em 0 rgba(0, 255, 251, 0.67),
    0 0 0.5em 0 rgba(0, 255, 251, 0.67);

  position: relative;
}

.share::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: rgba(0, 255, 251, 0.67);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.share::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em rgba(0, 255, 251, 0.67);
  opacity: 0;
  background-color: rgba(0, 255, 251, 0.67);
  z-index: -1;
  transition: opacity 100ms linear;
}

.share:hover,
.share:focus {
  color: white;
  text-shadow: none;
}

.share:hover::before,
.share:focus::before {
  opacity: 1;
}
.share:hover::after,
.share:focus::after {
  opacity: 1;
}

.delete-button {
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 255, 251, 0.67);
  border: rgba(0, 255, 251, 0.67) 0.125em solid;
  padding-top: 4.2px;
  padding-bottom: 4.2px;
  border-radius: 0.25em;
  padding-left: 12px;
  padding-right: 12px;
  background-color: black;
  


  box-shadow:
    inset 0 0 0.5em 0 rgba(0, 255, 251, 0.67),
    0 0 0.5em 0 rgba(0, 255, 251, 0.67);

  position: relative;
}

.delete-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: rgba(0, 255, 251, 0.67);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.delete-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em rgba(0, 255, 251, 0.67);
  opacity: 0;
  background-color: rgba(0, 255, 251, 0.67);
  z-index: -1;
  transition: opacity 100ms linear;
}

.delete-button:hover,
.delete-button:focus {
  color :white;
  text-shadow: none;
}

.delete-button:hover::before,
.delete-button:focus::before {
  opacity: 1;
}
.delete-button:hover::after,
.delete-button:focus::after {
  opacity: 1;
}

.vote-counter-div {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

button.up {
  cursor: pointer;
  margin-bottom: 6px;
  color: black;
  background-color: rgba(0, 255, 251, 1);
  border-radius: 60px;
  box-shadow: none;
  border: 5px solid rgba(255, 255, 255, 1);

  /* box-shadow: 0 0 10px rgba(0, 255, 251, 1),0 0 10px rgba(0, 255, 251, 1) inset,0 0 20px rgba(0, 255, 251, 1),0 0 20px rgba(0, 255, 251, 1) inset,0 0 30px rgba(0, 255, 251, 1),0 0 30px rgba(0, 255, 251, 1) inset; */

}

button.down {
  cursor: pointer;
  margin-top: 6px;
  color: black;
  background-color: black;
  border-radius: 60px;
  box-shadow: none;
  margin-bottom: 5px;
  border: 5px solid rgba(255, 255, 255, 1);
  box-shadow:
    0 0 10px rgba(0, 255, 251, 1),
    0 0 10px rgba(0, 255, 251, 1) inset,
    0 0 20px rgba(0, 255, 251, 1),
    0 0 20px rgba(0, 255, 251, 1) inset,
    0 0 30px rgba(0, 255, 251, 1),
    0 0 30px rgba(0, 255, 251, 1) inset;
}

/* .render-question-div {
  box-shadow: 0 0 2px 2px #feaee3,
              0 0 5px 2px #f087d3;
              box-shadow: 0 0 10px rgba(0, 255, 251, 1),0 0 10px rgba(0, 255, 251, 1) inset,0 0 20px rgba(0, 255, 251, 1),0 0 20px rgba(0, 255, 251, 1) inset,0 0 30px rgba(0, 255, 251, 1),0 0 30px rgba(0, 255, 251, 1) inset;
} */

.question-body {
  border: 3px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px 3px #feaee3,
              0 0 10px 5px #f087d3;
}

.vote-active {

}

.save-active {

}

.save-button {
  background-color: black;
  align-content: center;
}


.save {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.fa-link {
  color: rgba(0, 255, 251, 1);
}


.fa-floppy-disk {
  color: #feaee3;
}

.fa-floppy-disk:hover {
  color: #f087d3;
}

.fa-bookmark {
  color: gray;
  cursor: pointer;
}

.fa-bookmark:hover {
  color: hsl(317 100% 54%);
}

.fa-star {
  color: rgb(159, 247, 245);
}

.fa-star:hover {
  color: rgb(4, 252, 248);
}

ul {
  margin: 10px;
  padding: 5px;
  
}