.post-body {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin-bottom: 20px;
}

.main-body {
  margin-right: 40px;
  margin-left: 40px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
}

.close-modal-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: none;
  border: none;
  color: gray;
}
.close-modal-button:hover {
  color: black;
  cursor: pointer;
}
.answer-modal {
  display: grid;
  grid-template-columns: 4fr 3fr;
  column-gap: 20px;
  position: relative;
  overflow-y: auto;
  height: 75vh;
}
.answer-modal-form textarea {
  box-sizing: border-box;
  width: 100%;
  text-wrap: nowrap;
  padding: 10px;
  resize: vertical;
}

.question-title {
  color: white;
}

.answers-title {
  color: white;
}

.post-key {
  color: white;
}

.line {
  border: 2px solid rgba(0, 255, 255, 1);
  box-shadow: 0 0 12px rgba(0, 255, 251, 1),0 0 10px rgba(0, 255, 251, 1) inset,0 0 20px rgba(0, 255, 251, 1),0 0 20px rgba(0, 255, 251, 1) inset,0 0 30px rgba(0, 255, 251, 1),0 0 30px rgba(0, 255, 251, 1) inset;
}


.add-answer-div {
  margin-top: 20px;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 255, 251, 0.67);
  border: rgba(0, 255, 251, 0.67) 0.125em solid;
  padding-top: 4.2px;
  padding-bottom: 4.2px;
  border-radius: 0.25em;
  padding-left: 12px;
  padding-right: 12px;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 rgba(0, 255, 251, 0.67), 0 0 0.5em 0 rgba(0, 255, 251, 0.67);

  position: relative;
}

.add-answer-div::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: rgba(0, 255, 251, 0.67);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.add-answer-div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em rgba(0, 255, 251, 0.67);
  opacity: 0;
  background-color: rgba(0, 255, 251, 0.67);
  z-index: -1;
  transition: opacity 100ms linear;
}

.add-answer-div:hover,
.add-answer-div:focus {
  color :white;
  text-shadow: none;
}

.add-answer-div:hover::before,
.add-answer-div:focus::before {
  opacity: 1;
}
.add-answer-div:hover::after,
.add-answer-div:focus::after {
  opacity: 1;
}

